.customGray{
  background-color:rgb(32, 44, 55);
}
.follow{
  color:rgb(77, 87, 98);
}
.right_content{
  background-color:rgb(30, 39, 50);
}
.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 2.3fr 1.5fr;
}
.submit-button:disabled {
  opacity: 50%;
  cursor: not-allowed;
  color: #EFF3F4;
}
